


# due to the script loading and the XHRing i'd rather not cache anything in /docs

<IfModule mod_expires.c>

  ExpiresActive on
  ExpiresDefault  "access plus 0 seconds"

</IfModule>



# due to the .htaccess file, special care to avoid the forbidden issue when XHRing

<FilesMatch "\.htaccess\.md">
  Allow from all
</FilesMatch>